@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

/* Variables */
:root {
    --bgMainColor: #24252a;
    --flexDirect: row;

    /* BG Code */
    --bgCodeLeftPlace: 1205px;
    --bgCodeTopPlace1: 975px;
    --bgCodeDisplay: inline;

    /* Home */
    --homeTitleFontSize: 4vw;
    --homeTitleSubFontSize: 1.5vw;

    /* Skills */
    --skillsBoxTitleFontSize: 28px;
    --skillsWidth: 375px;
    --skillsHeight: 43px;
    --skillsFontSize: 18px;
    --skillsSpanMarginTop: 0;
    --skillsListMarginBottom: 27px;
    --skillsBoxTitleMarginTop: 20px;
    --skillsBoxTitleMarginBottom: 40px;

    /* Portfolio */
    --portTileWidth: 25vw;
    --portTileFontSize: 28px;
    --portBottomMargin: 3%;

    /* Social Links */
    --socialLRMargin: 30px;
}

/*
 * Media Queries
 */
@media (min-width: 901px) and (max-width: 1280px) {
    /* Variables */
    :root {
        /* BG Code Images */
        --bgCodeDisplay: none;
        --bgCodeLeftPlace: 245px;
        --bgCodeTopPlace1: 1500px;

        /* Skills */
        --skillsWidth: 250px;
        --skillsHeight: 26px;
        --skillsFontSize: 14px;
        --skillsBoxTitleFontSize: 22px;
        --skillsSpanMarginTop: -8px;
        --skillsListMarginBottom: 20px;
        --skillsBoxTitleMarginTop: 10px;
        --skillsBoxTitleMarginBottom: 20px;

        /* Portfolio */
        --portTileFontSize: 22px;

        /* Footer */
        --footerTop: 550px;
    }
}

/* Small Screens */
@media (max-width: 900px) {
    /*
     * Variables 
     */
    :root {
        /* BG Code Images */
        --bgCodeDisplay: none;

        /* Home */
        --homeTitleFontSize: 66px;
        --homeTitleSubFontSize: 22px;

        /* Skills */
        --flexDirect: column;
        --skillsWidth: 95%;
        --skillsHeight: 15%;
        --skillsFontSize: 14px;
        --skillsSpanMarginTop: 0;
        --skillsListMarginBottom: 20px;
        --skillsBoxTitleMarginTop: 10px;
        --skillsBoxTitleMarginBottom: 20px;

        /* Portfolio */
        --portTileWidth: 85%;
        --portBottomMargin: 30px;

        /* Social Links */
        --socialLRMargin: 20px;

        /* Footer */
        --footerTop: 1075px;
    }

    /* Remove navigation lines */
    #nav-lines {
        display: none;
    }

    /* Remove home image */
    #home-img {
        display: none;
    }
}

/* Set page margin and padding, fonts & background image */
body {
    margin: 0;
    padding: 0;
    max-width: 95vw;
    color: white;
    font-family: "Montserrat", sans-serif;
    background-image: url(../images/background.jpg);
}

/* 
 * Animations 
 */
@keyframes slideInFromTop {
    0% {
        transform: translateY(-200%);
    }
    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes slideInFromTop {
    0% {
        transform: translateY(-200%);
    }
    100% {
        transform: translateY(0);
    }
}

@-moz-keyframes slideInFromTop {
    0% {
        transform: translateY(-200%);
    }
    100% {
        transform: translateY(0);
    }
}

@-o-keyframes slideInFromTop {
    0% {
        transform: translateY(-200%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(200%);
    }
    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes slideInFromBottom {
    0% {
        transform: translateY(200%);
    }
    100% {
        transform: translateY(0);
    }
}

@-moz-keyframes slideInFromBottom {
    0% {
        transform: translateY(200%);
    }
    100% {
        transform: translateY(0);
    }
}

@-o-keyframes slideInFromBottom {
    0% {
        transform: translateY(200%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-500%);
    }
    100% {
        transform: translateX(0);
    }
}

@-webkit-keyframes slideInFromLeft {
    0% {
        transform: translateX(-500%);
    }
    100% {
        transform: translateX(0);
    }
}

@-moz-keyframes slideInFromLeft {
    0% {
        transform: translateX(-500%);
    }
    100% {
        transform: translateX(0);
    }
}

@-o-keyframes slideInFromLeft {
    0% {
        transform: translateX(-500%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes grow {
    0% {
        width: 0;
    }
    100% {
        width: 50vw;
    }
}

@-webkit-keyframes grow {
    0% {
        width: 0;
    }
    100% {
        width: 50vw;
    }
}

@-moz-keyframes grow {
    0% {
        width: 0;
    }
    100% {
        width: 50vw;
    }
}

@-o-keyframes grow {
    0% {
        width: 0;
    }
    100% {
        width: 50vw;
    }
}

/* Animations for skills and tools */
.animation-element {
    position: relative;
}

.animation-element.slide-right {
    opacity: 0;

    -moz-transition: all 500ms linear;
    -webkit-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    transition: all 500ms linear;

    -moz-transform: translate3d(-530px, 0px, 0px);
    -webkit-transform: translate3d(-530px, 0px, 0px);
    -o-transform: translate(-530px, 0px);
    -ms-transform: translate(-530px, 0px);
    transform: translate3d(-530px, 0px, 0px);
}

.animation-element.slide-right.in-view {
    opacity: 1;

    -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}

.animation-element.slide-left {
    opacity: 0;

    -moz-transition: all 500ms linear;
    -webkit-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    transition: all 500ms linear;

    -moz-transform: translate3d(530px, 0px, 0px);
    -webkit-transform: translate3d(530px, 0px, 0px);
    -o-transform: translate(530px, 0px);
    -ms-transform: translate(530px, 0px);
    transform: translate3d(530px, 0px, 0px);
}

.animation-element.slide-left.in-view {
    opacity: 1;

    -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}

.animation-element.slide-up {
    opacity: 0;

    -moz-transition: all 500ms linear;
    -webkit-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    transition: all 500ms linear;

    -moz-transform: translate3d(0px, 300px, 0px);
    -webkit-transform: translate3d(0px, 300px, 0px);
    -o-transform: translate(0px, 300px);
    -ms-transform: translate(0px, 300px);
    transform: translate3d(0px, 300px, 0px);
}

.animation-element.slide-up.in-view {
    opacity: 1;

    -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}

/*
 * Background code images 
 */
/* Home background code images */
#bg-code-top-center {
    display: var(--bgCodeDisplay);

    position: absolute;
    z-index: -1;
    top: 100px;
    left: 725px;

    -webkit-animation: slideInFromTop 1s ease-out 0s 1;
    -moz-animation: slideInFromTop 1s ease-out 0s 1;
    -o-animation: slideInFromTop 1s ease-out 0s 1;
    animation: slideInFromTop 1s ease-out 0s 1;
}

#bg-code-bottom-right {
    display: var(--bgCodeDisplay);

    position: absolute;
    z-index: -1;
    top: 550px;
    left: var(--bgCodeLeftPlace);

    -webkit-animation: slideInFromBottom 1s ease-out 0s 1;
    -moz-animation: slideInFromBottom 1s ease-out 0s 1;
    -o-animation: slideInFromBottom 1s ease-out 0s 1;
    animation: slideInFromBottom 1s ease-out 0s 1;
}

/* Skills background code images */
#bg-code-center {
    display: var(--bgCodeDisplay);

    position: absolute;
    z-index: -1;
    top: 1200px;
    left: 725px;
}

#bg-code-bottom-left {
    display: var(--bgCodeDisplay);

    position: absolute;
    z-index: -1;
    top: var(--bgCodeTopPlace1);
    left: 245px;
}

/* Portfolio background code images */
#bg-code-port-top-right {
    display: var(--bgCodeDisplay);

    position: absolute;
    z-index: -1;
    top: 1500px;
    left: 1205px;
}

#bg-code-port-left {
    display: var(--bgCodeDisplay);

    position: absolute;
    z-index: -1;
    top: 2200px;
    left: 245px;
}

#bg-code-port-right {
    display: var(--bgCodeDisplay);

    position: absolute;
    z-index: -1;
    top: 2500px;
    left: 1205px;
}

#bg-code-port-center {
    display: var(--bgCodeDisplay);

    position: absolute;
    z-index: -1;
    top: 2800px;
    left: 725px;
}

/* Contact background code images */
#bg-code-cont-left {
    display: var(--bgCodeDisplay);

    position: absolute;
    z-index: -1;
    top: 2900px;
    left: 245px;
}
#bg-code-cont-right {
    display: var(--bgCodeDisplay);

    position: absolute;
    z-index: -1;
    top: 3800px;
    left: var(--bgCodeLeftPlace);
}

/* 
 * Navigation Bar 
 */
#home-link,
#skills-link,
#portfolio-link,
#contact-link {
    margin: 0 25px;
    color: rgba(255, 255, 255, 0.4);
    font-size: 22px;

    /* Transition out of transparency */
    -webkit-transition: color 1s ease-out;
    -moz-transition: color 1s ease-out;
    -o-transition: color 1s ease-out;
    transition: color 1s ease-out;
}

#home-link:hover,
#skills-link:hover,
#portfolio-link:hover,
#contact-link:hover {
    color: rgba(255, 255, 255, 1);
}

.nav-link > hr {
    border-color: rgba(255, 255, 255, 0);

    /* Transition out of transparency */
    -webkit-transition: border-color 1s ease-out;
    -moz-transition: border-color 1s ease-out;
    -o-transition: border-color 1s ease-out;
    transition: border-color 1s ease-out;
}

.nav-link:hover > hr {
    border-color: rgba(255, 255, 255, 1);
}

/* 
 * Navigation Lines 
 */
#nav-lines {
    position: fixed;
    left: 15px;
}

.nav-line {
    width: 20px;
    border-color: rgba(255, 255, 255, 0.4);

    /* Transition to full width */
    -webkit-transition: width 1s ease-out;
    -moz-transition: width 1s ease-out;
    -o-transition: width 1s ease-out;
    transition: width 1s ease-out;
}

.active {
    border-color: rgba(255, 255, 255, 1);
    width: 35px;

    /* Transition to full width */
    -webkit-transition: width 1s ease-out;
    -moz-transition: width 1s ease-out;
    -o-transition: width 1s ease-out;
    transition: width 1s ease-out;
}

/* 
 * Home Section 
 */
#home {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    height: 100vh;
}

#page-title {
    z-index: 2;

    text-align: center;
    margin-right: -5%;

    -webkit-animation: slideInFromLeft 1s ease-out 0s 1;
    -moz-animation: slideInFromLeft 1s ease-out 0s 1;
    -o-animation: slideInFromLeft 1s ease-out 0s 1;
    animation: slideInFromLeft 1s ease-out 0s 1;
}

#home-img {
    z-index: 1;

    width: 50vw;

    -webkit-animation: grow 1s ease-out 0s 1;
    -moz-animation: grow 1s ease-out 0s 1;
    -o-animation: grow 1s ease-out 0s 1;
    animation: grow 1s ease-out 0s 1;
}

#page-title > h1 {
    font-size: var(--homeTitleFontSize);
}

#page-title > p {
    text-align: center;
    font-size: var(--homeTitleSubFontSize);
}

/* 
 * Skills Section 
 */
#skills-title {
    margin-top: 5%;
    text-align: center;
}

#skills {
    display: flex;
    flex-direction: var(--flexDirect);
    justify-content: center;
    align-items: center;

    margin-top: 5%;
}

#dev-skills,
#dev-tools {
    display: flex;
    flex-direction: column;

    background-color: var(--bgMainColor);

    border: white 1px solid;
    padding: 15px 15px 0;
    margin: 15px 3vw;
}

#dev-skills > h2,
#dev-tools > h2 {
    font-size: var(--skillsBoxTitleFontSize);
    text-align: center;
    margin-top: var(--skillsBoxTitleMarginTop);
    margin-bottom: var(--skillsBoxTitleMarginBottom);
}

/* Progress Bars */
#dev-skills > ul,
#dev-tools > ul {
    list-style: none;
    padding: 0;
}

#dev-tools ul li,
#dev-skills ul li {
    overflow: hidden;
    width: var(--skillsWidth);
    height: var(--skillsHeight);
    line-height: 43px;
    background: #46484c;
    border-radius: 5px;
    margin: 0 0 var(--skillsListMarginBottom);
}

#dev-tools ul li span,
#dev-skills ul li span {
    margin-top: var(--skillsSpanMarginTop);
    background: #4b323f;
    color: #fff;
    text-transform: uppercase;
    display: block;
    font-family: "novecentosanswide";
    font-size: var(--skillsFontSize);
    padding: 0 0 0 20px;
}

/* Skills Progress */
#html-prog {
    width: 100%;
}

#css-prog {
    width: 65%;
}

#js-prog {
    width: 75%;
}

#jquery-prog {
    width: 60%;
}

/* Tools Progress */
#vscode-prog {
    width: 90%;
}

#eclipse-prog {
    width: 70%;
}

#github-prog {
    width: 85%;
}

#netbeans-prog {
    width: 65%;
}

/*
 * Portfolio Section 
 */
#portfolio-title {
    margin-top: 20%;
    text-align: center;
}

#portfolio {
    display: flex;
    flex-direction: var(--flexDirect);
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 99vw;

    margin: 5% auto 0 auto;
}

.portfolio-tile {
    background-color: var(--bgMainColor);
    border: white 1px solid;

    text-align: center;

    width: var(--portTileWidth);
    height: auto;
    margin: 0 1.5% var(--portBottomMargin);
}

.portfolio-tile > a {
    text-decoration: none;
    color: white;
}

.portfolio-img {
    width: 100%;
    border-bottom: white 1px solid;
}

.portfolio-tile-title {
    height: 50px;
}

.portfolio-tile-title > h4 {
    margin-top: 15px;
    font-size: var(--portTileFontSize);
}

/* 
 * Contact Section
 */
#contact-title {
    margin-top: 20%;
    text-align: center;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 5%;

    text-align: center;
}

#contact > a {
    color: white;
    font-weight: bold;
    margin-top: 5%;
    font-size: 22px;
}

.social-links {
    margin-top: 5%;
}

.social-links > a {
    margin: 0 var(--socialLRMargin);
}

.fa {
    color: white;
    font-size: 42px;

    /* Transition to 360 degree angle */
    -webkit-transition: transform 500ms ease-out;
    -moz-transition: transform 500ms ease-out;
    -o-transition: transform 500ms ease-out;
    transition: transform 500ms ease-out;
}

/* Rotate and change color of icon on hover */
.fa:hover {
    color: #0026ff;
    transform: rotate(360deg);
}

/* Footer */
footer {
    margin-top: 10%;
    text-align: center;
}
