@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/* Variables */
:root {
    --bgLightBlue: #4d83b9;
    --bgDarkBlue: #32465c;
}

body {
    margin: 0px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

/* Navigation Bar */
.nav > .nav-links {
    font-size: 18px;
}

.nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 22px;
    font-weight: bold;

    /* Transition out of transperency */
    -webkit-transition: color 1s ease-out;
    -moz-transition: color 1s ease-out;
    -o-transition: color 1s ease-out;
    transition: color 1s ease-out;
}

/* When navigation link is hovered over change transperency of link */
.nav > .nav-links > a:hover {
    color: rgba(255, 255, 255, 1);
}

hr {
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;

    /* Transition out of transperency */
    -webkit-transition: border-color 1s ease-out;
    -moz-transition: border-color 1s ease-out;
    -o-transition: border-color 1s ease-out;
    transition: border-color 1s ease-out;
}

/* When navigation link is hovered over change transperency of hr */
a:hover hr {
    border-color: rgba(255, 255, 255, 1);
}

/* Page containers' styles */
.top-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 60vh;
    width: 100%;
    align-items: center;
    background: var(--bgLightBlue);
}

.bottom-container {
    display: flex;
    justify-content: space-around;
    background: var(--bgDarkBlue);
}

/* Dividers */
.scallop-down {
    height: 100px;
    width: 100%;
    background: -webkit-gradient(
        radial,
        50% 0,
        10,
        50% 0,
        40,
        from(#4d83b9),
        color-stop(0.49, #4d83b9),
        color-stop(0.51, #32465c),
        to(#32465c)
    );
    -webkit-background-size: 49px 100%;
}

.scallop-up {
    height: 100px;
    width: 100%;
    background: -webkit-gradient(
        radial,
        50% 100%,
        10,
        50% 100%,
        40,
        from(#4d83b9),
        color-stop(0.49, #4d83b9),
        color-stop(0.51, #32465c),
        to(#32465c)
    );
    -webkit-background-size: 49px 100%;
}

h1 {
    font-size: 66px;
}
h2 {
    font-size: 22px;
    font-weight: bold;
}

#skills,
#tools {
    display: flex;
    flex-direction: column;
}

/* Progress Bars */
#skills > ul,
#tools > ul {
    list-style: none;
    padding: 0;
}

#tools ul li,
#skills ul li {
    width: 375px;
    overflow: hidden;
    height: 43px;
    line-height: 43px;
    background: #46484c;
    border-radius: 5px;
    margin: 0 0 27px;
}

#tools ul li span,
#skills ul li span {
    background: var(--bgLightBlue);
    color: #fff;
    text-transform: uppercase;
    display: block;
    font-family: 'novecentosanswide';
    font-weight: normal;
    font-size: 18px;
    padding: 0 0 0 20px;
}

/* Skills Progress */
#html-prog {
    width: 100%;
}

#css-prog {
    width: 65%;
}

#js-prog {
    width: 75%;
}

#jquery-prog {
    width: 60%;
}

/* Tools Progress */
#vscode-prog {
    width: 90%;
}

#eclipse-prog {
    width: 70%;
}

#github-prog {
    width: 85%;
}

#netbeans-prog {
    width: 65%;
}